{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="test">
            <div class="listing-content">
                <div class="listing-image">
                    {% if listing.image %}
                    <img src="{{ listing.image }}">
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'listing' listing.id %}"><h2>{{ listing.title }}</h2></a>
                    {% if listing.bids.get.amount %}
                        <h3>Price: ${{ listing.bids.get.amount }}</h3>
                    {% else %}
                        <h3>Price: No Bids</h3>
                    {% endif %}
                    <p>{{ listing.description }}</p>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}